:root{
    --primary-dark-background-color:#181818;
    --light-background-color:#FFFFFF;
    --light-button-color:#4452FE;
    --border-color:#DEDEDE;
    --secondary-dark-background-color:#343434;
}