.section{
    padding: 50px 50px;
    text-align: center;
    @media screen and (max-width: $bp-mobile){
        padding: 30px 30px;
    }

    &__title{
        font-size: 52px;
        font-weight: 400;
        padding-top: 50px;
    }
    &__text{
        font-size: 20px;
        font-weight: 400;
        max-width: 550px;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}