.mobile-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 640px;
    overflow-y: auto;
    background-color: var(--primary-dark-background-color);
    transform: translate(100%);
    transition: 0.3s;
    &.is-open {
      display: block;
      transform: translate(0);
      transition: 0.3s;
    }
    &__container {
      padding: 0 24px;
    }
    &__logo {
      padding-top: 16px;
    }
    &__mobile-menu-btn-close {
      position: absolute;
      top: 24px;
      right: 45px;
      width: 20px;
      height: 20px;
      padding: 0;
      filter: invert(1);
      background-color: transparent;
    }
}    