.partners-section{
    &__logos-container{
        display: flex;
       justify-content: center;
        gap: 74px;
        margin-bottom: 50px;
        @media screen and (max-width:$bp-mobile){
            flex-wrap: wrap;
            gap: 50px;
        }
    }
}